*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 14px;
	font-family: "微软雅黑";
}
.hide{
	display: none;
}
.header .tbar{
	height: 30px;
	background-color: #333;
}
.header .tbar .inner{
	margin: 0 auto;
	width: 1308px;
	position: relative;
}
.header .tbar .inner .tbar_1{
	float: left;
}
.header .tbar .inner .tbar_1 a:first-child{
	padding: 0 12px 0 27px;
	color: #08d7a2;
	line-height: 28px;
	text-decoration: none;
	background: url(../img/app_icon.png) 10px 2px no-repeat;
}
.header .tbar .inner .tbar_1 a:first-child:hover{
	color: #00b38a;
}
.header .tbar .inner .tbar_1 a:last-child{
	text-decoration: none;
	line-height: 28px;
	border-left: 1px solid #5d5d5d;
	color: #c4c3c3;
	padding: 0 12px;
	margin-left: -4px;
}
.header .tbar .inner .tbar_1 a:last-child:hover{
	color: #fff;
}
.header .tbar .inner .tbar_2{
	float: right;
}
.header .tbar .inner .tbar_2 ul{
	list-style: none;
	line-height: 28px;
}
.header .tbar .inner .tbar_2 ul li{
	float: left;
	padding: 0 12px;
}
.header .tbar .inner .tbar_2 ul li:first-child{
	border-right: 1px solid #5d5d5d;
}
.header .tbar .inner .tbar_2 ul li a{
	text-decoration: none;
	color: #c4c3c3;
}
.header .tbar .inner .tbar_2 ul li a:hover{
	color: #fff;
}
.header .tnav{
	background-color: #FAFAFA;
	height: 54px;
	border-bottom: 1px solid #e5e5e5;
}
.header .tnav .inner{
	width: 1024px;
	margin: 0 auto;
}
.header .tnav .inner .tnav_1{
	float: left;
	width: 260px;
}
.header .tnav .inner .tnav_1 a:first-child{
	float: left;
	width: 97px;
	height: 34px;
	margin-top: 11px;
	background: url(../img/logo.png) no-repeat;
}
.header .tnav .inner .tnav_1 .city{
	float: left;
	margin: 21px 12px 0;
}
.header .tnav .inner .tnav_1 .city p{
	float: left;
	font-size: 18px;
	margin-right: 8px;
}
.header .tnav .inner .tnav_1 .city a{
	color: #999;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
	float: left;
	margin-top: 7px;
}
.header .tnav .inner ul{
	list-style: none;
	float: left;
	margin-left: -2px;
	margin-top: 1px;
}
.header .tnav .inner ul li{
	float: left;
	line-height: 53px;
	width: 46px;
	margin:  0 18px;
	text-align: center;
}
.header .tnav .inner ul li a{
	text-decoration: none;
	display: block;
	padding: 0 5px;
	font-size: 18px;
	color: #999;
}
.header .tnav .inner ul li a.shouye{
	color: #000;
	border-bottom: 2px solid #00b38a;
}
.header .tnav .inner ul li a:hover{
	color: #000;
	border-bottom: 2px solid #00b38a;
}
.header .tnav .inner ul{
	position: relative;
}
.header .tnav .new{
	background: url(../img/new.png) no-repeat;
	position: absolute;
	width: 28px;
	height: 16px;
	left: 390px;
	top: 6px;
}
.content{
	width: 1024px;
	margin: 35px auto 0;
}
.content .sidebar{
	width: 204px;
	background-color: #fafafa;
	padding: 6px 12px;
	float: left;
}
.content .sidebar .menubox{
	border: 2px solid #fafafa;
	padding-top: 9px;
	overflow: hidden;
}
.content .sidebar div:first-child{
	padding-top: 0;
}
.content .sidebar .menubox p{
	font-size: 18px;
	color: #555;
	padding:0 8px;
	margin: 10px 0;
	background: url(../img/arr.png) 191px 5px no-repeat;
}
.content .sidebar .menubox a{
	float: left;
	text-decoration: none;
	color: #555;
	margin: 0 5px 8px 0;
	padding: 0 8px;
}
.content .sidebar .menubox a:hover{
	color: #08d7a2;
	text-decoration: underline;
}
.content .intro{
	margin-left: 280px;
}
.content .intro input:first-child{
	width: 570px;
	height: 23px;
	line-height: 23px;
	padding: 5px 8px 5px 10px;
	border: 2px solid #00b38a;
	float: left;
	font-size: 16px;
}
.content .intro input:last-child{
	width: 148px;
	height: 37px;
	border: 2px solid #00b38a;
	color: #fff;
	background-color: #00b38a;
	font-size: 18px;
	float: left;
}
.content .intro input:last-child:hover{
	background-color: #00A57F;
}
.content .intro dl{
	margin-top: 8px;
	float: left;
}
.content .intro dl dd{
	margin-right: 20px;
}
.content .intro dl dt{
	width: 70px;
}
.content .intro dl dd,.content .intro dl dt{
	float: left;
}
.content .intro dl dd a{
	color: #00b38a;
	text-decoration: none;
}
.content .intro dl dd a:hover{
	text-decoration: underline;
}
.content .intro .img .banner1{
	margin-top: 20px;
	width: 744px;
	height: 160px;
	overflow: hidden;
	float: left;
}
.content .intro .img .banner1 ul.banner1_left{
	list-style: none;
	width: 612px;
	height: 480px;
	overflow: hidden;
	float: left;
}
.content .intro .img .banner1 .banner1_left li{
	width: 612px;
	height: 160px;
}
.content .intro .img .banner1 .img_right{
	width: 121px;
	height: 160px;
	float: right;
	position: relative;
}
.content .intro .img .img_right em{
	position: absolute;
	width: 127px;
	height: 50px;
	left: -6px;
	top: 0;
	z-index: 100;
	background: url(../img/control_current.png) no-repeat;
}
.content .intro .img .img_right ul{
		list-style: none;
}
.content .intro .img .img_right ul li{
	border: 4px solid #d3d3d3;
	height: 42px;
	margin-bottom: 5px;
	position: relative;
}
.content .intro .img .img_right ul li i{
	position: absolute;
	background: url(../img/cover.png) no-repeat;
	width: 113px;
	height: 42px;
}
.content .intro .img .img_right ul li i.current{
	background: url();
}
.content .intro .img .banner2{
	float: left;
	margin-top: 18px;
}
.content .intro .img .banner2 ul{
	list-style: none;
}
.content .intro .img .banner2 li{
	float: left;
	position: relative;
	overflow: hidden;
	border: 2px solid #fafafa;
	margin-right: 8px;
}
.content .intro .img .banner2 li:last-child{
	margin-right: 0;
}
.content .intro .img .banner2 li a img,
.content .intro .img .banner2 li a{
	float: left;
	width: 113px;
	height: 113px;
}
/*.content .intro .img .banner2 li a .hot_info{
	width: 0;
	height: 0;
	position: absolute;
	bottom: 0px;
	background-color: #00b38a;
}
.content .intro .img .banner2 li a .hot_info h2{
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	margin: 10px 8px 8px;
	border-bottom: 5px solid #50C2A9;
	padding-bottom: 8px;
	color: #fff;
}
.content .intro .img .banner2 li a .hot_info p{
	font-size: 12px;
	margin: 6px 8px;
	color: #fff;
}*/
.content .workIntro .c_nav{
	float: left;
}
.content .workIntro .c_nav ul{
	list-style: none;
	background: #f6f6f6;
	float: left;
	width: 744px;
	height: 39.5px;
	margin-top: 22px;
}
.content .workIntro .c_nav ul li{
	cursor: pointer;
	padding: 7px 20px;
	font-size: 18px;
	color: #999;
	float: left;
	text-align: center;
	border-top: 3px solid #fafafa;
}
.content .workIntro .c_nav ul li.current{
	background: #fff;
	border-top: 3px solid #00b38a;
	color: #000;
}
.content .workIntro .jobList{
	float: left;
	width: 744px;
}
.content .workIntro .jobList ul{
	list-style: none;
}
.content .workIntro .jobList ul li .pli_top{
	padding: 22px 0 0 15px;
	overflow: hidden;
}
.content .workIntro .jobList ul li .pli_top .pli_top1{
	float: left;
}
.content .workIntro .jobList ul li .pli_top .pli_top1 .position_name{
	height: 34px;
}
.content .workIntro .jobList ul li .pli_top .pli_top1 .position_name a{
	text-decoration: none;
	cursor: pointer;
	color: #00b38a;
	font-size: 16px;
}
.content .workIntro .jobList ul li .pli_top .pli_top1 .position_name span{
	color: #999;
	font-size: 14px;
}
.content .workIntro .jobList ul li .pli_top .pli_top1 span.red{
	color: #fa6041;
	font-size: 16px;
	margin-right: 20px;
}
.content .workIntro .jobList ul li .pli_top .pli_top2{
	float: right;
	width: 309px;
}
.content .workIntro .jobList ul li .pli_top .pli_top2 .company_name{
	font-size: 16px;
	color: #00b38a;
	height: 34px;
}	
.content .workIntro .jobList ul li .pli_footer{
	height: 39px;
	background: #fafafa;
	margin-top: 4px;
	line-height: 39px;
	padding-left: 17px;
}
.content .workIntro .jobList a:last-child{
	float: right;	
	width: 64px;
	height: 22px;
	padding: 5px 40px 5px 15px;
	margin: 25px 0 0;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	background: url(../img/arrow.png) #00b38a 88px center no-repeat;
}
.content .workIntro .jobList a:last-child:hover{
	background-color: #00A57F;
}
.content .workIntro .link_list{
	width: 744px;
	float: left;
	padding: 15px 60px 0 0;
	margin-top: 40px;
	border-top: 1px solid #ececed;
}
.content .workIntro .link_list dt{
	float: left;
	width: 70px;
}
.content .workIntro .link_list dt a{
	color: #000;
	font-size: 15px;
	text-decoration: none;
}
.content .workIntro .link_list dd{
	width: 614px;
	height: 22px;
	overflow: hidden;
	margin-top: -20px;
	margin-left: 70px;
}
.content .workIntro .link_list dl{
	position: relative;
}
.content .workIntro .link_list dl a,
.content .workIntro .link_list dd a{
	color: #555;
	font-size: 12px;
	text-align: center;
}
#zk{
	position: absolute;
	right: 5px;
	top: 20px;
	width: 45px;
	margin-top: -20px;
	cursor: pointer;
	background: url(../img/arrow_down.png)  35px 5px no-repeat;
}
#zk:hover{
	text-decoration: underline;
	color: #00b38a;
}
.content .workIntro .link_list dd span{
	color: #555;
}
.content .workIntro .link_list dl a:hover{
	text-decoration: underline;
	color: #00b38a;
}
.fixed{
	position: fixed;
	z-index: 1000;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 64px;
	background: url(../img/footerbar_repeat.png) repeat-x;
}
/*.fixed{
	position: absolute;
	z-index: 1000;
	bottom: -540px;
	left: 0;
	width: 100%;
	height: 64px;
	background: url(../img/footerbar_repeat.png) repeat-x;
}*/
.fixed div{
	width: 1024px;
	margin: 0 auto;
}
.fixed .img1{
	position: absolute;
	left: 53px;
	top: 10px;
}
.fixed .img2{
	position: absolute;
	left: 53px;
	top: -54px;
}
.fixed span.first{
	font-size: 32px;
	margin-left: 294px;
	margin-top: 18px;
	padding-right: 33px;
	color: #dafaf4;
	display: inline-block;
	background: url(../img/footbar_text.png) right 18px no-repeat
}
.fixed span.last{
	font-size: 32px;
	margin-left: 64px;
	margin-top: 20px;
	padding-right: 33px;
	color: #dafaf4;
	background: url(../img/footbar_text.png) right -87px no-repeat
}
.fixed a.login{
	position: absolute;
	left: 955px;
	width: 50px;
	padding: 0 46px;
	line-height: 64px;
	background: url(../img/footbar_btn_green.png) repeat-x;
	text-decoration: none;
	color: #fff;
	font-size: 24px;
}
.fixed a.login:hover{
	background: #63B39B;
}
.fixed a.register{
	position: absolute;
	right: 0;
	width: 160px;
	padding: 0 46px;
	line-height: 64px;
	background: url(../img/footbar_btn_red.png) repeat-x;
	text-decoration: none;
	color: #fff;
	font-size: 24px;
}
.fixed a.register:hover{
	background: #E55E5D;
}
.footer{
	position: relative;
	top: 111px;
	z-index: 1001;
	clear: both;
	height: 67px;
}
.footer .wrapper{
	width: 1024px;
	margin: 0 auto;
}
.footer .wrapper img{
	position: absolute;
	top: 9px;
}
.footer .wrapper .inner{
	padding-top: 9px;
	float: right;
	padding-right: 350px;
}
.footer .wrapper .inner a{
	text-decoration: none;
	color: #555;
	display: inline-block;
	margin-right: 5px;
	position: relative;
}
.footer .wrapper .inner a img{
	width: 256px;
	height: 256px;
	border: 3px solid #0D9572;
	position: absolute;
	top: -266px;
	left: 0px;
	z-index: 100;
	display: none;
}
.footer .copyright img{
	float: left;
	margin-left: 250px;
	margin-top: 30px;
}
.footer .copyright span{
	float: left;
	margin-left: 310px;
	margin-top: 15px;
	color: #d5d5d5;
	font-size: 12px;
}
.bkfk{
	position: fixed;
	right: 75px;
	bottom: 85px;
}
.backtop{
	padding-left: 10px;
}
.backtop a{
	width: 28px;
	height: 65px;
	background: url(../img/backtop.png) no-repeat;
}
.fk{
	margin-top: 10px;
	text-align: center;
}
.fk a{
	width: 30px;
	height: 30px;
	display: inline-block;
	background: url(../img/feedback.png) no-repeat;
}
/*.fk_word{
	position: fixed;
	right: 92px;
	bottom: 65px;
}*/
.fk_word p{
	font-size: 12px;
}